{{ header }}



{# <div class="row">
	<div class="col-sm-12">
		<img src="assets/img/banner/about.jpg" alt="" class="img-responsive w-100">
	</div>
</div> #}
<div class="container">
	<div class="row">
		<div class="col-sm-12 mb-5" >
			<br/><br/>
			<h2>About Banjara Home

			
			</h2>
<div class="row mt-4">
<div class="col-md-6 d-flex"
style="align-items: center;">
<p class="laptop"style="font-size:16px;line-height:2;">Hello and welcome to Banjara Home! My name is Sanjay Rathi, and I am proud to continue my family's tradition of entrepreneurship with our home Furnishings business.<br>
				<br>

				Since 1985, our family has been serving customers from the streets of rural Rajasthan, providing them with high-quality products and exceptional service. Over the years, we have expanded our reach domestically and have grown our business to new heights.<br><br>

				My personal experience in the export industry has also helped to shape our business, allowing us to explore new markets and reach customers around the world. With this knowledge, I started Banjara Home in 2013, with a focus on providing unique and beautiful home goods to customers around the globe.<br><br>
				At Banjara Home, we are committed to preserving traditional techniques and supporting local artisans, while also embracing innovation and exploring new design ideas. We are passionate about what we do, and we take pride in every product we offer. We export to over 15 countries to some of the most prominent retail store chains as well as prominent whole sellers.
				<br><br>
			</p>
</div>
<div class="col-md-6" >
<img src="image/about1.jpg" alt="" style="width:100%;">
</div>
<div class="container col-md-12 "style="margin-top:4rem;">
<img src="image/banner/Banjara_Banner_6.jpg" alt="" style="width:100%;">
</div>
<div class="col-sm-12 mt-5 text-center">
<h6>Thank you for considering Banjara Home for your home goods needs. We look forward to serving you!</h6>
		
</div>

</div>
			<br/>
			
			</div>
	</div>
</div>
{{ footer }}
