{{ header }}


<div id="content" style="    background-color: #ddd6c8;"></div>

<!-- hero slider area start -->

<section class="slider-area">
	<div class="row">
		<div class="slider_banner col-12">
			<div class="desktop-slider hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
				{% for banner in banners %}
				<div>

					<img src="{{ banner.image }}" alt="" class="img-response slider-img">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- hero slider area end -->
<div style="background-image: url('image/new/l1/a_back.png');">
	<div class="container">
		<div class="row">

			<div class="col-md-10 m-auto">

				<h3 class="text-center" style="margin: 10%;">At Banjara Home, every product tells a tale – a story spun
					by skilled
					artisans who breathe life into threads and transform them into works of art.
					In this journey through craftsmanship, let's unravel the artistry that defines
					each piece and meet the hands behind the magic.</h3>



				<h3 class="text-center col-md-10"
					style="margin: 5% auto;color:#de4d71;     font-weight: 500;   font-family: 'Radley', sans-serif;">
					"Banjara Home: Where Threads Tell Tales, Craftsmanship
					Finds a Home, and Every Comfort is a Chapter in Elegance."
				</h3>

				<div class="row mt-5" style="justify-content: space-between;">
					<div class="col-md-5 " style="align-items: center;">
						<h3 style="color: black;margin-top: 15%;">The Design Symphony:
						</h3>
						<p class="laptop" style="font-size:18px;line-height:2;    margin-top: 5%;">In the heart of our
							creative process lies a harmonious blend
							of tradition and innovation. Designs are inspired by a
							myriad of influences, from ancient motifs that whisper tales
							of heritage to contemporary strokes that dance with
							modern elegance. Each design is meticulously curated,
							ensuring that it not only captivates the eye but also
							resonates with the soul of our brand.

						</p><br>

					</div>
					<div class="col-md-4">
						<img src="image/new/blog/1.png" alt="" style="width:100%;">
					</div>
				</div>
				<div class="row " style="margin-top: 5%;">

					<div class="col-md-4">
						<img src="image/new/blog/2.png" alt="" style="width:100%;">
					</div>
					<div class="col-md-2">

					</div>
					<div class="col-md-6 pl-5" style="align-items: center;">
						<h3 style="color:black;margin-top: 15%;text-align: end;">From Thread to Textile:</h3>
						<p class="laptop" style="font-size:18px;line-height:2;    text-align: end;    margin-top: 5%;">
							The journey from raw material to the finished product is a
							meticulous process. The artisans delicately handle each
							thread, infusing it with skill, precision, and a touch of their
							own spirit. It's a dance of hands and hearts, transforming
							the material into a Banjara Home creation that carries not
							just beauty but also the soul of its creator.


						</p><br><br>

					</div>
				</div>
				<div class="row " style="margin-top: 5%;">


					<div class="col-md-6 pl-5" style="align-items: center;">
						<h3 style="color:black;margin-top: 15%;text-align: start;">The Artisan's Canvas:</h3>
						<p class="laptop" style="font-size:18px;line-height:2;    text-align: start;    margin-top: 5%;">
							Our artisans are the maestros orchestrating this symphony
							of design. Behind every creation is a skilled craftsman or
							craftswoman, their hands embroidered into stories with
							each thread. They are the guardians of tradition, passing
							down age-old techniques from generation to generation.
							The fabric becomes their canvas, and with every pass, a
							masterpiece emerges.



						</p><br><br>

					</div>
					<div class="col-md-2">

					</div>
					<div class="col-md-4">
						<img src="image/new/blog/3.png" alt="" style="width:100%;">
					</div>

				</div>
				<br />


				<div class="col-md-5" style="height: 4px;background:#32baa1;margin:5% auto;"></div>
			</div>
		</div>
	</div>
</div>

{{ footer }}