{{ header }}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
	.accordion-item {
		background-color: transparent;
		border-bottom: 2px solid rgba(0,0,0,.125) !important;
		padding:2% 0;
		border: 0px solid rgba(0,0,0,.125);
	}
	.accordion-button:focus {
		z-index: 3;
		border-color: none;
		outline: 0;
		box-shadow: none;
	}
	.accordion-button:not(.collapsed) {
		color: rgb(94, 94, 94);
		font-weight: 600;
		background-color: transparent;
		box-shadow: none;
		font-family: sans-serif;
	}
	.accordion-button{
		color: rgb(94, 94, 94);
		background-color: transparent;
		font-weight: 600;
		font-family: sans-serif;
	}
	.accordion-button::after {
	background-image: url('image/new/arrow.png');
	}
	.accordion-button:not(.collapsed)::after {
		background-image: url('image/new/minus.png');
		transform: none;
	}

</style>




<!-- hero slider area start -->
<section class="slider-area">
	<div class="row">
		<div class="slider_banner col-12">
			<div class="desktop-slider hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
				{% for banner in banners %}
				<div>

					<img src="{{ banner.image }}" alt="" class="img-response slider-img">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- hero slider area end -->
<div style="background-image: url('image/new/l1/a_back.png');    background-size: contain;">
	<div class="container">
		<div class="row pt-5 pb-5">

			<div class="col-md-10 m-auto">

<h4 style="font-weight: 600;color:rgb(58, 58, 58);font-family: sans-serif;padding-bottom:50px;">Shipping And Delivery</h4>

				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Is my order confirmed?
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								You will receive an email and an sms on order confirmation. Please contact our
									helpdesk (mail
									Help@banjara.in or call ------------) if you are unsure.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								When will you ship my order?
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								We normally ship all orders within 7 business days. Final delivery time will vary based
								on location.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								When will my order get delivered?
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Transit and delivery time may vary depending on your location and the ordered items. You
								can check
								estimated delivery time for your pin code on any product page.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading4">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
								How much do you charge for delivery?
							</button>
						</h2>
						<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Our charges varies from place to place for both domestic and internationally.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading5">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
								How can I track my order?
							</button>
						</h2>
						<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								An email is sent to you after the order is shipped. It contains the tracking number and
								details of the
								service provider. You can also track your order by logging in on our website.<br><br>
								If you are having trouble reading the emails or if you haven't received any updates,
								please get in touch
								with our Helpdesk immediately. Drop us an email at Help@banjara.in or give us a call on
								----------(10
								AM - 6 PM, Monday to Saturday).
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading6">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
								How do I place Bulk Orders?
							</button>
						</h2>
						<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								We get it. Our products are simply awesome and buying one is just not enough. You can
								place bulk
								orders by visiting us at our Bulk orders page or by contacting us via bulk-
								mail@bajarahome.in or just
								call us at ---------(10 AM - 6 PM, Monday to Saturday).<br>
								Note: We do not offer customization of products.<br>
								I don’t want the package to carry an invoice/amount as it is a gift. Can this be done?
								Unfortunately, invoices are mandatory due to Government regulations.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading7">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
								I have received a damaged product, what should I do?
							</button>
						</h2>
						<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
							data-bs-parent="#accordionExample">
							<div class="accordion-body">
								In the event that you receive a damaged product, please initiate a return or reach out
								to us on
								help@banjara.in within 24 - 28 hours of delivery and we will resolve the issue to your
								satisfaction.
								Please ensure that packaging of the received product is intact with you for
								return/replacement.

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{{ footer }}