<style>
	.the:hover {
		color: #fff !important;
	}

	.float {
		position: fixed;
		width: 70px;
		height: 70px;
		bottom: 50px;
		right: 45px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		font-size: 40px;
		box-shadow: 2px 2px 3px #999;
		z-index: 100;
	}

	.info-list li a {
		color: #fff;
		letter-spacing: 1.9px;font-weight: 600;
	}

	.widget-body ul li p {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1.9px;

	}
	footer .header-search-btn {
		left: auto;
		right: 15px;
	}
</style>


<footer style="border:thin solid #f1f1f1;background-image:url('image/new/b1/1.jpg');background-size: cover;">
	<div class="container pt-5">
		<div class="row pt-5 pb-5" style="align-items: start;    justify-content: space-between;">
			<div class="col-md-6">
				<h3 style="color:#fff;">Connect with<br>
					Handmade Luxe living.
				</h3>
				<p class="pt-3" style="color:#fff;font-size:18px;letter-spacing: 2.3px;">By signing up for alerts, you agree to receive e-mails, calls and text messages from Banjara Home.</p>
			</div>
			<div class="col-md-5 header-search-container mt-3">
				<div class="header-search-box  ">
					<input type="text" id="search_bot" placeholder="Search" class="header-search-field" style="    height: 60px;   ">
					<button class="search_icon_top header-search-btn bot_btn" style="    ">
						<img style="margin:auto;width:30px;" src="image/icons/new/31.png" title="" alt="" class="img-responsive logo-home"/>
	
					</button>
				</div>
				
			</div>
		</div>
		<div class="row pb-5">
			<div class="col-md-5  pt-5 d-flex justify-content-start ">
				<div class="widget-item text-start">
					<h6 class="widget-title ">GET IN TOUCH</h6>
					<div class="widget-body">
						<ul style="display: inline;" class="info-list">
							<li>
								<div class="row">
									<div class="col-md-12 col-12 " style="text-align: start;color:#fff;">
										<p>TOLL FREE : +91 90017 09690</p>
									</div>
									
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12 col-12 " style="text-align: start;color:#fff;">
										<p>MON-SAT 10AM - 6PM IST</p>
									</div>

								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12 col-12" style="text-align: start;color:#fff;">
										<p>EMAIL : MAIL@BANJARAHOME.IN</p>
									</div>
									
								</div>
							</li>
							<br>
							<li>
								<p style="font-size: 16px;color:#fff;letter-spacing: 2.3px;font-weight: 100;">TO SEE MORE OF OUR WORK , VISIT OUR SOCIALS :</p>
							</li>
							<li>
								<div class="mt-1 mb-3 text-start">
									<div class="row mt-4 d-flex justify-content-start" style='max-width:auto; '>
										<div class="col-md-2 text-center" style="width:auto;"><img src="image/icons/new/12.png" width="60"/></div>
										<div class="col-md-2 text-center" style="width:auto;">
											<a href="https://www.instagram.com/banjara_home_india/"><img src="image/icons/new/11.png"width="60"/></a>
										</div>
										<div class="col-md-2 text-center" style="width:auto;">
											<a href="https://www.instagram.com/banjara_home_india/"><img src="image/icons/new/10.png"width="60"/></a>
										</div>
										<div class="col-md-6 text-start" style="width:auto;">
											<a href="https://www.instagram.com/banjara_home_india/" style="font-size: 26px;">@banjarahome_</a>
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-6 d-flex justify-content-start pt-5">
				<div class="widget-item text-start">
					<h6 class="widget-title">NEED HELP</h6>
					<div class="widget-body">
						<ul style="display: inline;" class="info-list">

							<li>
								<a href="index.php?route=account/account">
									FAQS</a>
							</li>
							<li>
								<a href="index.php?route=account/account">
									TRACK ORDER</a>
							</li>
							<li>
								<a href="index.php?route=account/account">
									BULK ORDERS</a>
							</li>
							<li>
								<a href="index.php?route=account/account">
									INTERNATIONAL CUSTOMER</a>
							</li>
							

							<li>
								<a href="index.php?route=information/information&information_id=7">
									RETURN & EXCHANGE</a>
							</li>
							<li>
								<a href="index.php?route=information/information&information_id=7">
									PRIVACY POLICY</a>
							</li>
		

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-6 d-flex justify-content-start pt-5 row">
				<div class="widget-item text-start col-md-12">
					<h6 class="widget-title">ABOUT</h6>
					<div class="widget-body">
						<ul style="display: inline;" class="info-list">
							<li>
								<a href="index.php?route=common/shop">
									OUR STORY</a>
							</li>
							<li>
								<a href="index.php?route=common/about">
									BLOGS</a>
							</li>
							<li>
								<a href="index.php?route=common/shop">
									#BANJARAHOME_COMMUNITY</a>
							</li>
							<li>
								<a href="index.php?route=common/shop">
									CONTACT US</a>
							</li>
							<li>
								<a href="index.php?route=common/shop">
									STORE LOCATOR</a>
							</li>
							
						</ul>
					</div>
				</div>
				
			</div>

			<div class="col-md-12" style="min-height: 300px;"></div>
		</div>
	</div>
	<div class="col-12 d-none" style="padding:12.5px 0px; background: #EDA941;">
		<p style="text-align: center; font-size:12px; color: black;">
			Copyright © 2023 Banjara Homes. All rights reserved. Design By
			<a class="the" href="https://theodin.in/" style="    color: black;">
				The Odin</a>
		</p>
	</div>
</footer>

<a href="https://api.whatsapp.com/send?phone=+91-9001709690&amp;text=HELLO" class="float d-flex justify-content-center" style="align-items: center;" target="_blank">
	<i class="fa fa-whatsapp wp-button"></i>
</a>


{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
{% endfor %}
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}


<script>
	$('.search-btn-mobile').click(function (e) {
		e.preventDefault();
		if ($(this).prev().val() != "") {
			location = 'index.php?route=product/search' + '&search=' + encodeURIComponent($(this).prev().val()) + '&description=true';
		}
	})

	$('.header-search-btn').click(function (e) {
		e.preventDefault();
		if ($("#search_top").val() != "") {
			location = 'index.php?route=product/search' + '&search=' + encodeURIComponent($("#search_top").val()) + '&description=true';
		}
	})
	$('.bot_btn').click(function (e) {
		console.log("bt");
		e.preventDefault();
		if ($("#search_bot").val() != "") {
			location = 'index.php?route=product/search' + '&search=' + encodeURIComponent($("#search_bot").val()) + '&description=true';
		}
	})
	$('.bot_btn').click(function (e) {
		e.preventDefault();
		if ($(this).prev().val() != "") {
			location = 'index.php?route=product/search' + '&search=' + encodeURIComponent($(this).prev().val()) + '&description=true';
		}
	})
</script>
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<!-- slick Slider JS -->
<script src="assets/js/plugins/slick.min.js"></script>
<!-- Countdown JS -->
<script src="assets/js/plugins/countdown.min.js"></script>
<!-- Nice Select JS -->
<script src="assets/js/plugins/nice-select.min.js"></script>
<!-- jquery UI JS -->
<script src="assets/js/plugins/jqueryui.min.js"></script>
<!-- Image zoom JS -->
<script src="assets/js/plugins/image-zoom.min.js"></script>
<!-- Imagesloaded JS -->
<script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
<!-- Instagram feed JS -->
<script src="assets/js/plugins/instagramfeed.min.js"></script>
<!-- mailchimp active js -->
<script src="assets/js/plugins/ajaxchimp.js"></script>
<!-- contact form dynamic js -->
<script src="assets/js/plugins/ajax-mail.js"></script>
<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>
<!-- google map active js -->
<script src="assets/js/plugins/google-map.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script></body></html><script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
