{{ header }}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
	a {
		text-decoration: none !important;
	}
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 86% !important;
		margin: auto;
	}
	.accordion-item {
		background-color: transparent;
		border-bottom: 2px solid rgba(0, 0, 0, .125) !important;
		padding: 2% 0;
		border: 0 solid rgba(0, 0, 0, .125);
	}
	.accordion-button:focus {
		z-index: 3;
		border-color: none;
		outline: 0;
		box-shadow: none;
	}
	.accordion-button:not(.collapsed) {
		color: rgb(94, 94, 94);
		font-weight: 600;
		background-color: transparent;
		box-shadow: none;
		font-family: sans-serif;
	}
	.accordion-button {
		padding: 1rem 0;
		color: rgb(94, 94, 94);
		background-color: transparent;
		font-weight: 600;
		font-family: sans-serif;
	}
	.accordion-button::after {
		background-image: url('image/new/arrow.png');
	}
	.accordion-button:not(.collapsed)::after {
		background-image: url('image/new/minus.png');
		transform: none;
	}
	.accordion-body {
		padding: 1rem 0;
	}
</style>


<!-- hero slider area start -->
<section class="slider-area">
	<div class="row">
		<div class="slider_banner col-12">
			<div class="desktop-slider hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
				{% for banner in banners %}
					<div>

						<img src="{{ banner.image }}" alt="" class="img-response slider-img">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- hero slider area end -->
<div style="background-image: url('image/new/l1/a_back.png');    background-size: contain;">
	<div class="container">
		<div class="row pt-5 pb-5">

			<div class="col-md-10 m-auto">

				<h4 style="font-weight: 600;color:rgb(58, 58, 58);font-family: sans-serif;padding-bottom:50px;">RETURN , EXCHANGE + CANCELLATION</h4>

				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								1. If the item has a quality / manufacturing defect :
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								In this case, the item you received does not meet quality standards and has a defect that you believe*
is unacceptable. If you believe the product is damaged or has a genuine manufacturing/quality defect,
please photograph it as soon as you open it. *Slight differences in colour, design, or appearance from
what you see on your computer/mobile screen are not considered defects. As our products are 100%
handmade, slight variations are to be expected.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								2. If you didn’t receive what you ordered :
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								This is the case when you receive an item that is not what you ordered or when the item on the site is
misrepresented due to a technical error. You have received an incorrect size or product, i.e., the
product does not match the item in the order confirmation email.<br><br>
It is the case when item you received need any size alteration or replacement owing to change of
mind. For exchange products, ship back charges would be borne by the customer.

							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								3. Suitable solutions as per conditions :
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								In all the conditions mentioned above, our customers are requested to contact us via e-mail at
mail@banjarahome.in or WhatsApp +919001709690 within 24 hours of the receipt of your delivery.
Please mention your order number/contact details and product picture if possible.
Our customer support team will discuss with you and might ask for more details.
We would request you to send the product back to us in original condition on the
address mentioned on our website.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading4">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
								4 .Exchanges
							</button>
						</h2>
						<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								The product will be exchanged for a product of equal or greater value than the original purchased
product (after the difference in payment is made).<br>
We do not provide refunds for the difference in price when exchanging a product priced lower than
the original purchased item.<br>
Art Image is not liable for the unavailability or errors in the listing of specific
merchandise of your choice for exchange with the items you have already purchased.<br><br>
In the event of a quality defect or the delivery of the incorrect item : -
Refunds will be processed within 7-10 business days of receiving the product in our warehouse.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading5">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
								5. Terms & Conditions – Returns, Refunds & Exchanges
							</button>
						</h2>
						<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								1. A used or damaged/tampered product is not returnable, refundable, or
exchangeable.<br>
2. The item must be returned in its original packaging, labels, and tags; an altered
or illegible serial number will also void the return.<br>
3. Our team will inspect the item for any quality issues or specific concerns you
have raised.<br>
4. Please work with our customer service team to ensure a smooth
refund/exchange process.<br>
About different types of orders : -<br>
Custom Orders : Custom orders are built to your specifications and begin production as soon as you
place your order. They cannot be cancelled, changed, returned, or refunded.<br>
Personalized/Monogrammed Items: These are custom order items that are noncancellable, non-returnable, and non-refundable.<br>
Items on sale: Final sale and clearance items are final and are not returnable or
refundable.
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading6">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
								6. Cancellations
							</button>
						</h2>
						<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								Banjara Home will only accept order cancellations within 24 hours of placing the order. If you need to
cancel your order, please go to your account page on our website.<br><br>
Alternatively, you can email mail@banjarahome.com with any cancellation requests within the abovementioned time frame.<br>
Within 2-3 working days of receiving the cancellation request, the refund amount for cancelled items
will be transferred back to the original source of payment.<br>
Note : -<br>
- Certain merchandise may have pricing, description, or image errors, and we must reserve the right to
restrict orders for those items.<br>
- Certain items may have strict no-return/refund policies, which will always be
mentioned on the website's product detail page.

							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</div>

{{ footer }}
