{{ header }}

<!-- Swiper Slider CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link
rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
<!-- Swiper JS -->
<style>
	.slick-next:before {
		content: '';
	}
	.slick-prev:before {
		content: '';
	}
</style>
<section>
	<img src="image/new/whol/whol.png" alt="">
</section>

<section class="text-center mt-4">
	<h1 class="mt-5 pb-4">Catalogue</h1>
	<div class="container">

		<div class="row justify-content-center">


			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/2.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/embroidered_cushion.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;    margin-right: 40px;
								">View</button>
						</a>
						<a target="_blank" download="image/new/whol/embroidered_cushion.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/1.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/embroidered_pouf.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/embroidered_pouf.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/4.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/embroidered_throw.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/embroidered_throw.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/3.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/printed_cushion.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/printed_cushion.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/5.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/Printed_Poufs.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/Printed_Poufs.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/rugs.jpeg" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/Rugs.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/Rugs.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/27.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/Stool.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/Stool.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
			<div class="col-sm-3 text-center" style="padding:15px">
				<div style="border:thin solid #f1f1f1; padding:5px;" class="box-line">
					<img src="image/new/whol/30.png" alt="" class="img-responsive">


					{% if logged %}
						<a target="_blank" href="image/new/whol/black.pdf">
							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;margin-right: 40px;">View</button>
						</a>
						<a target="_blank" download="image/new/whol/black.pdf" href="">

							<button class="btn btn-hero brochure_btn" style="margin-top: 8px;">Download</button>
						</a>
					{% else %}


						<button class="btn btn-hero brochure_btn btn2" style="margin-top: 8px;margin-right: 40px;">View</button>

						<button class="btn btn-hero brochure_btn btn1" style="margin-top: 8px;">Download</button>

					{% endif %}


				</div>


			</div>
		</div>
	</div>
</section>
<section class="container mt-5 mb-3 text-center">
	<h3>Contact Us For Wholesale/Export Inquiry</h3>

	<!-- breadcrumb area end -->
	<div
		class="container">
		<!-- contact area start -->
		<div class="contact-area section-padding pt-20">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="contact-message">

							<form action="index.php?route=information/contact" method="post" class="contact-form">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<input name="first_name" placeholder="Name *" type="text" required/>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<input name="phone" placeholder="Phone *" type="tel" required/>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<input name="email_address" placeholder="Email *" type="email" required/>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<input name="contact_subject" placeholder="Subject *" type="text"/>
									</div>
									<div class="col-12">
										<div class="contact2-textarea text-center">
											<textarea placeholder="Message *" name="message" class="form-control2" required=""></textarea>
										</div>
										<div class="contact-btn">
											<button class="btn btn-primary" type="submit">
												<a style="color: white">Send Message</a>
											</button>
										</div>
									</div>
									<div class="col-12 d-flex justify-content-center">
										<p class="form-messege"></p>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- contact area end -->
		<br/><br/>
	</div>
</section>
<script>

	$(".btn1").click(function () {
alert("Log in to your account for Download");

});
	$(".btn2").click(function () {
alert("Log in to your account for view");

});
</script>
{{ footer }}

