{{ header }}
<!-- breadcrumb area start -->

<!-- breadcrumb area end -->
	<div
	class="container" style="min-height:100vh;" > <!-- contact area start -->
	<div class="contact-area section-padding pt-20">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="contact-message">
						<h4 class="contact-title new-font" style="color: black; font-family: 'newfont', sans-serif">
							
						</h4>
						<form action="index.php?route=information/contact" method="post" class="contact-form">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="name" placeholder="Name *" type="text" required/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="phone" placeholder="Phone *" type="tel" required/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="email" placeholder="Email *" type="email" required/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="contact_subject" placeholder="Subject *" type="text"/>
								</div>
								<div class="col-12">
									<div class="contact2-textarea text-center">
										<textarea placeholder="Message *" name="message" class="form-control2" required=""></textarea>
									</div>
									<div class="contact-btn">
										<button class="btn btn-primary" type="submit" >
											<a style="color: white">Send Message</a>
										</button>
									</div>
								</div>
								<div class="col-12 d-flex justify-content-center">
									<p class="form-messege"></p>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-info">
						<h2 class="contact-title new-font" style="line-height: 1.5;font-weight: 600;color: black; font-family: 'newfont', sans-serif">
							Contact Us
						</h2>
						<p class="new-font pb-0">
							Need to get in touch with us? Fill out the
							form with your inquiry .
						</p>
						<ul>
							<li class="pb-0">
								<h6 class="contact-title new-font " style=" line-height: 1.5;font-weight: 600;color: black; font-family: 'newfont', sans-serif">
								
								</h6>
							</li>
							<li>
								<i class="fa fa-fax"></i>
								<p class="new-font pb-1">Address : H-787, EPIP-Sitapura, Ph-1 Jaipur - 302022</p>
							</li>
							<li>
								<i class="fa fa-envelope-o"></i>
								<p class="new-font pb-1">Email :  mail@banjarahome.in</p>
							</li>
							<li>
								<i class="fa fa-phone"></i>
								<p class="new-font pb-1">
									Phone : +91 9001709690
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area end -->
	<br/><br/>
</div>
{{ footer }}
